@import url(/css/ghost.css);

*,
body,
#root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

#header {
  width: 100%;
  height: 100px;
  background-color: white;
  box-shadow: 0px -21px 78px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #808c97;
  padding: 5px 20px;
}

#main {
  background-color: #f5f4f2;
  height: 100%;
  transition: 0.5s;
}

.nav_1 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  font-size: 24px;
  line-height: 144.7%;
}
.nav_2 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  font-size: 24px;
  line-height: 144.7%;
}
.nav_3 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

.nav_btn {
  margin-right: 10px;
}

#footer button {
  width: 100px;
  background-color: #808c97;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-right: 5px;
}

.disabled {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#footer {
  display: flex;
  float: left;
  width: 100%;
  height: 100px;
  background-color: white;
  position: absolute;
  bottom: 0;
  z-index: 99;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
